
.icon-wordpress:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */