body {
	font-family: Verdana;
	color: #2F2F2F;
	margin: auto;
}
#b1{
	background-color: #DCDCDC;
	width: 55%;
	height: 80px;
	text-align: center;
	float: left;
}
#b2, #b3, #b4{
	background-color: #DCDCDC;
	width: 15%;
	height: 80px;
	float: left;
}
#l{
	background-color: #808080;
	width: 30%;
	height: 450px;
	float: left;
}
#p{
	background-color: #808080;
	width: 70%;
	height: 450px;
	float: right;
}
#stopka{
	background-color:#DCDCDC;
	text-align: center;
	float: left;
	width: 100%;
}
h5{
	color: #808080;
	border: 1px solid #808080;
	margin: 7px;
	padding: 10px;
	fony-size: 80%;
}
input{
    color: gray
}