html{
	scroll-behavior: smooth;
}
body {
	margin: 0;
	color: white;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	width: auto;
}

#Glowna {
	background: url("tloprojekty.jpg") no-repeat center fixed;
	height: 100vh;
	width: 100%;
	position: relative;
}

#Omnie {
	font-family: 'Roboto Condensed', sans-serif;
	background: url("tlo.jpg") no-repeat center;
	width: 100%;
	text-align: center;
	font-size: 200%;
	height: 100vh;
	position: relative;
}

@keyframes example {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#Projekty {
	background: url("omnietło.jpg") no-repeat center fixed;
	width: 100%;
	height: auto;
}

#Kontakt {
	background: url("tlokontakt.jpg") right;
	width: 100%;
	font-size: 200%;
	height: 100vh;
	position: relative;
}

#nav {
	position: fixed;
	width: 100vw;
	z-index: 2;
}

table {
	font-size: 200%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, 0.6);
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

td {
	width: 10vw;
	background: linear-gradient(orange, orange) bottom / 0 .1em no-repeat;
	transition: 1s background-size;
}

td:hover {
	background-size: 100% .1em;
}

a {
	text-decoration: none;
	color: white;
}

.tekst {
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	width: 100%;
	height: auto;
	font-size: 200%;
	margin: 0;
	position: absolute;
	top: 40%;
	transform: translate(0, -40%);
	text-align: center;
	animation-name: example;
	animation-duration: 5.5s;
}


.omnietekst {
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	width: 100%;
	font-size: 100%;
	margin: 0;
	position: absolute;
	top: 40%;
	transform: translate(0, -40%);
	text-align: center;
}

#menu {
	position: fixed;
	right: 0;
	top: 40%;
	width: 3em;
	margin-top: -4em;
	background-color: rgba(0, 0, 0, 0.6);
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	padding: 2px;
	z-index: 5;
}

.social:hover {
	color: rgba(174, 125, 53, 1);
}

footer {
	width: 100%;
	height: 1.2%;
	background-color: grey;
}

p {
	margin: 0;
	text-align: center;
}

.projektimg {
	width: 570px;
	height: 320px;
	border: 2px solid black;
	border-radius: 2px;
	margin: auto;
	float: left;
	background-size: 100% 100%;
	transition: 1s;
}

#tekst {
	width: 100vw;
	float: left;
	text-align: center;
}

#projekty {
	text-align: center;
}

#projekty h2 {
	margin: 0;
	padding: 3vh;
}

.img {
	margin: auto;
	display: inline-block;
}

.projektimg h1 {
	opacity: 0;
	text-align: center;
	padding: 10%;
	transition: 1s;
}


.projektimg:hover h1 {
	opacity: 1;
	background: rgba(0, 0, 0, 0.6);
}

#Projekty2 {
	padding: 10%;
	height: 100vh;
}

footer {
	font-size: 20px;
	height: 0.6%;
	background-color: #526B83;
}

@media (max-width: 620px) {
	#Kontakt h3 {
		font-size: 70%;
	}
	.projektimg {
		width: 90vw;
		height: 30vh;
	}

	table {
		font-size: 110%;
	}

	#menu {
		font-size: 80%;
	}
}
