body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: cursive;
	background: url('tłogłówne.jpg') right;
	color: white;
}
		
.topnav {
  background-color: rgb(20, 35, 55);
  overflow: hidden;
}
#zegar{
	float: right;
	color: white;
	font-size: 175%;
	height: 40px;
	padding: 5px;
	 background-color: rgba(0,0,0, 0.6);
	 font-family: Verdana;
}
.tekst{
	width: 100%;
	height:600px;
	float:left;
	background-color: rgba(0,0,0, 0.6);
	margin-top: 7%;
	text-align: center;
}
.sm{
	height:49px;
	width:196px;
	background-color: white;
	float: right;
	padding: 0px;
	margin:0px;
}
.img{
	background-image: url(favicon/android-chrome-192x192.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 49px;
	height: 49px;
	padding: 0px;
	float: left;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 11px 16px;
  text-decoration: none;
  font-size: 20px;
}
.kwadrat{
	height:225px;
	width:400px;
	border: rgb(3, 48, 130) solid;
	margin:15px;
}
.kwadrat:hover{
   filter: brightness(80%);
}

.topnav a:hover {
  background-color: grey;
  color: black;
}


.yt{
	width: 49px;
	height: 49px;
	background-color: #d94348;
	float: left;
}

.yt:hover{
	background-color: #c83237;
}

.fb{
	width: 49px;
	height: 49px;
	background-color: #4668b3;
	float: left;
}

.fb:hover{
	background-color: #3557a2;
}

.github{
	width: 49px;
	height: 49px;
	background-color: #263238;
	float: left;
}

.github:hover{
	background-color: #152127;
}

.zse{
	width: 49px;
	height: 49px;
	background-color: #FF9900;
	float: left;
}

.zse:hover{
	background-color: #EE8800;
}
a.socialmedialink{
	color: #ffffff;
	text-decoration: none;
	padding:0px;
}
a.socialmedialink:hover{
	color: #ffffff;
	text-decoration: none;
}
.stopka{
	width: 100%;
	height:40px;
	float: left;
	text-align: center;
	color:grey;
}
