body{
	margin: 0;
}
#baner{
	background-color: RGB(255,213,162);
	text-align: center;
	padding: 20px;
}
#menu1, #menu2, #menu3, #menu4{
	background-color: RGB(191,112,17);
	color: white;
	text-align: center;
	font-size: 150%;
	width: 25%;
	float: left;
}
#glowny{
	height: 400px;
}
#stopka{
	background-color: RGB(191,112,17);
	color: white;
	text-align: right;
	font-size: 150%;
}
a{
	color: white;
}
button{
	background-color: brown;
	border: 2px solid brown;
	color: white;
	font-weight: bold;
	padding: 10px;
}
ul{
	list-style-type: disc;
}
