body {
    margin: 0;
    font-family: Georgia;
}

#gl,
#gp {
    background-color: RGB(197, 85, 160);
    text-align: center;
    width: 50%;
    height: 180px;
    float: left;
}

#baner,
footer {
    background-color: RGB(246, 226, 222);
    text-align: center;
    height: 100px;
    padding: 10px;
    overflow: auto;
}

#l,
#p {
    background-color: RGB(197, 85, 160);
    color: white;
    width: 50%;
    height: 400px;
    float: left;
}


#odnosnik {
    background-image: url("cukierki1.png");
    padding-right: 70px;
    padding-bottom: 120px;
    font-size: 150%;
    text-decoration: none;
}

table,
td {
    border: 2px solid blue;
    margin: 20px;
    padding: 10px;
}

h2 {
    letter-spacing: 10px;
    font-size: 200%;
}