body {
    margin: 0;
    padding: 0;
}

#g1,
#g2 {
    background-color: deepskyblue;
    height: 150px;
    font-size: 120%;
    text-align: center;
    float: left;
}

#g1 {
    width: 25%;
}

#g2 {
    width: 75%;
}

#baner,
#stopka {
    background-color: tomato;
    text-align: center;
    clear: both;
}

#baner {
    height: 50px;
}

#gl,
#gp {
    background-color: deepskyblue;
    height: 350px;
    width: 50%;
    float: left;
}

#gp {
    line-height: 25px;
}

h1 {
    color: Maroon;
}

table {
    height: 100px;
    width: 50%;
    margin-top: 50px;
}

input,
button {
    background-color: tomato;
    border: 0;
    border-radius: 5px;
}

#gl button {
    width: 300px;
}

#gp input,
button {
    width: 100px;
}

#gp img {
    margin-top: 25px;
    margin-right: 50px;
}

#gl img {
    margin-top: 25px;
    margin-right: 50px;
}

#gl img {
    float: right;
}

#gp img {
    float: left;
}