body{
	background: url('tło.jpg');
	color: white;
	margin: 0px;
	height:100%;
	font-family: "Verdana";
}

body::-webkit-scrollbar {
    width: 7px;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: rgba(0,0,0,0.5);
	background-color: rgb(1,0,50);
}
 
body::-webkit-scrollbar-thumb {
  background-color: grey;
}

#container
{
	width: 100%;
	text-align: center;
}

.square
{
    background-color: rgb(5,6,87);
    height: 4%;
	width: 93.75%;
    border-radius: 20px;
	padding-left: 1.11%;
	position: fixed;
	margin-left: 1.28%;
}

.img
{
    background-image: url(favicon/android-chrome-192x192.png);
	background-repeat: no-repeat;
    background-size:contain;
	width: 2.22%;
	height: 100%;
	float: left;
}

.logo
{
	width: 96.8%;
	height: 70px;
	padding: 30px;
	background-image: url(logo.jpg);
}

.tekst
{
	width: 31.94%;
	height: 100%;
	float: left;
    font-size: 30px;
}
.tekst:hover{
	filter: brightness(80%);
}

.lewy
{
	height: 900px;
	width: 15.625%;
	border-radius: 5px;
	float: left;
	margin-top: 120px;
	margin-left: 1.8vw;
	font-size:50px;
	border-color: rgb(3, 48, 157);
	border-style: solid;
	border-width: 5px;
	background-image: url(tlolewyblok.jpg);
}

.srodkowy
{
	height: 900px;
	width: 62.5%;
	border-radius: 5px;
	float: left;
	margin-top: 120px;
	margin-left: 3vw;
	font-size:50px;
	border-color: rgb(3, 48, 157);
	border-style: solid;
	border-width: 5px;
	background-image: url(glowny.jpg);
}

.prawy
{
	height: 900px;
	width: 11%;
	border-radius: 5px;
	float: left;
	margin-top: 120px;
    margin-left: 3vw;	
	font-size: 2vw;
	border-color: rgb(3, 48, 157);
	border-style: solid;
	border-width: 5px;
}

.yt
{
	margin: 0.52vw;
	width: 9.75vw;
	height: 8vw;
	background-color: #d94348;
	float: left;
}

.yt:hover
{
	background-color: #c83237;
}

.fb
{
	margin: 0.52vw;
	width: 9.75vw;
	height: 8vw;
	background-color: #4668b3;
	float: left;
}

.fb:hover
{
	background-color: #3557a2;
}

.github
{
	margin: 0.52vw;
	width: 9.75vw;
	height: 8vw;
	background-color: #263238;
	float: left;
}

.github:hover
{
	background-color: #152127;
}

.zse
{
	margin: 0.52vw;
	width: 9.75vw;
	height: 8vw;
	background-color: #FF9900;
	float: left;
}

.zse:hover
{
	background-color: #EE8800;
}

a.socialmedialink
{
	color: #ffffff;
	text-decoration: none;
}

.stopka
{
	width: 100%;
	height: 60px;
	float: left;
	font-size: 20px;
}
a.linkkafelki
{
	color: #ffffff;
	text-decoration: none;
}

