* {
    font-family: Arial;
    margin: 0;
}

#logo {
    background-color: RGB(162, 117, 87);
    width: 20%;
    height: 100px;
    float: left;
}

#menu {
    background-color: RGB(162, 117, 87);
    height: 100px;
    text-align: right;
}



#baner,
#stopka {
    background-color: RGB(74, 45, 32);
    color: white;
    text-align: center;
    padding: 30px;
}

#lewy,
#prawy {
    background-color: RGB(162, 117, 87);
    color: white;
    width: 50%;
    height: 500px;
    float: left;
}

h1 {
    word-spacing: 10px;
}

a {
    color: RGB(65, 98, 85);
    padding: 20px;
    margin: 10px;
    font-size: 150%;
    line-height: 100px;
    border: 1px solid RGB(65, 98, 85);
}

#zielona {
    text-decoration: line-through;
}